*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.pdf
*.toc
*.xdv
_minted-dissertation/
*.bbl
*.bcf
*.blg
*.lot
*.nlo
*.run.xml
*.pyg
*.pdf
.vscode/
*.lol
!/dissertation.pdf
!/PhDThesis/dissertation.pdf
!/PhDThesisEng/dissertation.pdf
